In [1]:
import numpy as np
import pandas as pd
from yaml import safe_load
import os
from tqdm import tqdm

In [2]:
filenames = []
for file in os.listdir('data'):
    filenames.append(os.path.join('data',file))

In [3]:
final_df = pd.DataFrame()
counter = 1
for file in tqdm(filenames):
    with open(file, 'r') as f:
        df = pd.json_normalize(safe_load(f))
        df['match_id'] = counter
        final_df = pd.concat([final_df, df])
        counter+=1
        
final_df

100%|███████████████████████████████████████████████████████████████████████████▉| 7470/7471 [1:09:17<00:00,  1.80it/s]

NotImplementedError:

In [4]:
len(final_df)

7470

In [5]:
final_df = final_df.iloc[np.random.permutation(len(final_df))].reset_index(drop=True)

In [6]:
n = 5000

In [7]:
final_df.drop(index=final_df.index[:n], inplace=True)

In [8]:
backup = final_df.copy()

In [9]:
final_df

,innings,meta.data_version,meta.created,meta.revision,info.city,info.dates,info.gender,info.match_type,info.outcome.by.runs,info.outcome.winner,...,info.supersubs.Sri Lanka,info.supersubs.Bangladesh,info.supersubs.New Zealand,info.supersubs.India,info.supersubs.ICC World XI,info.supersubs.South Africa,info.supersubs.Pakistan,info.bowl_out,info.outcome.bowl_out,info.supersubs.West Indies
5000,"[{'1st innings': {'team': 'South Africa', 'del...",0.9,2012-12-27,4,Port Elizabeth,[2012-12-26],male,T20,33.0,South Africa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5001,"[{'1st innings': {'team': 'South Africa', 'del...",0.9,2020-02-17,1,Johannesburg,[2020-02-09],male,ODI,NaN,England,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5002,"[{'1st innings': {'team': 'Sydney Sixers', 'de...",0.9,2020-07-24,1,Sydney,[2017-01-13],female,T20,16.0,Sydney Sixers,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5003,"[{'1st innings': {'team': 'Panama', 'deliverie...",0.9,2020-09-10,1,Morrisville,[2018-09-26],male,IT20,NaN,Canada,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5004,"[{'1st innings': {'team': 'Mumbai Indians', 'd...",0.9,2016-05-21,1,Kanpur,[2016-05-21],male,T20,NaN,Gujarat Lions,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7465,"[{'1st innings': {'team': 'England', 'deliveri...",0.9,2011-04-25,2,Chennai,[2011-03-17],male,ODI,18.0,England,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7466,"[{'1st innings': {'team': 'Italy', 'deliveries...",0.9,2019-06-20,1,St Peter Port,[2019-06-16],male,T20,11.0,Italy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7467,"[{'1st innings': {'team': 'South Africa', 'del...",0.9,2014-02-23,2,Port Elizabeth,"[2014-02-20, 2014-02-21, 2014-02-22, 2014-02-23]",male,Test,231.0,South Africa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7468,"[{'1st innings': {'team': 'South Africa', 'del...",0.9,2013-10-21,2,Abu Dhabi,"[2013-10-14, 2013-10-15, 2013-10-16, 2013-10-17]",male,Test,NaN,Pakistan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7469,"[{'1st innings': {'team': 'Nigeria', 'deliveri...",0.9,2019-09-13,1,Kigali City,[2019-09-07],female,T20,NaN,Rwanda,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
final_df.drop(columns=[
    'meta.data_version',
    'meta.created',
    'meta.revision',
    'info.outcome.bowl_out',
    'info.bowl_out',
    'info.supersubs.South Africa',
    'info.supersubs.New Zealand',
    'info.outcome.eliminator',
    'info.outcome.result',
    'info.outcome.method',
    'info.neutral_venue',
    'info.match_type_number',
    'info.outcome.by.runs',
    'info.outcome.by.wickets'
],inplace=True)

In [11]:
final_df

,innings,info.city,info.dates,info.gender,info.match_type,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,...,info.supersubs.England,info.supersubs.Africa XI,info.supersubs.Asia XI,info.supersubs.Zimbabwe,info.supersubs.Sri Lanka,info.supersubs.Bangladesh,info.supersubs.India,info.supersubs.ICC World XI,info.supersubs.Pakistan,info.supersubs.West Indies
5000,"[{'1st innings': {'team': 'South Africa', 'del...",Port Elizabeth,[2012-12-26],male,T20,South Africa,[H Davids],"[South Africa, New Zealand]",bat,South Africa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5001,"[{'1st innings': {'team': 'South Africa', 'del...",Johannesburg,[2020-02-09],male,ODI,England,[AU Rashid],"[South Africa, England]",field,England,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5002,"[{'1st innings': {'team': 'Sydney Sixers', 'de...",Sydney,[2017-01-13],female,T20,Sydney Sixers,[EA Perry],"[Sydney Sixers, Hobart Hurricanes]",field,Hobart Hurricanes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5003,"[{'1st innings': {'team': 'Panama', 'deliverie...",Morrisville,[2018-09-26],male,IT20,Canada,[C Pervez],"[Panama, Canada]",bat,Panama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5004,"[{'1st innings': {'team': 'Mumbai Indians', 'd...",Kanpur,[2016-05-21],male,T20,Gujarat Lions,[SK Raina],"[Gujarat Lions, Mumbai Indians]",field,Gujarat Lions,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7465,"[{'1st innings': {'team': 'England', 'deliveri...",Chennai,[2011-03-17],male,ODI,England,[JC Tredwell],"[England, West Indies]",bat,England,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7466,"[{'1st innings': {'team': 'Italy', 'deliveries...",St Peter Port,[2019-06-16],male,T20,Italy,NaN,"[Guernsey, Italy]",field,Guernsey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7467,"[{'1st innings': {'team': 'South Africa', 'del...",Port Elizabeth,"[2014-02-20, 2014-02-21, 2014-02-22, 2014-02-23]",male,Test,South Africa,[JP Duminy],"[South Africa, Australia]",bat,South Africa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7468,"[{'1st innings': {'team': 'South Africa', 'del...",Abu Dhabi,"[2013-10-14, 2013-10-15, 2013-10-16, 2013-10-17]",male,Test,Pakistan,[Khurram Manzoor],"[Pakistan, South Africa]",bat,South Africa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7469,"[{'1st innings': {'team': 'Nigeria', 'deliveri...",Kigali City,[2019-09-07],female,T20,Rwanda,[S Sunday],"[Rwanda, Nigeria]",bat,Nigeria,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
final_df = final_df[final_df['info.gender'] == 'male']
final_df.drop(columns=['info.gender'],inplace=True)

C:\Users\kamag\AppData\Local\Temp\ipykernel_6340\3352087688.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(columns=['info.gender'],inplace=True)

In [13]:
final_df

,innings,info.city,info.dates,info.match_type,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,...,info.supersubs.England,info.supersubs.Africa XI,info.supersubs.Asia XI,info.supersubs.Zimbabwe,info.supersubs.Sri Lanka,info.supersubs.Bangladesh,info.supersubs.India,info.supersubs.ICC World XI,info.supersubs.Pakistan,info.supersubs.West Indies
5000,"[{'1st innings': {'team': 'South Africa', 'del...",Port Elizabeth,[2012-12-26],T20,South Africa,[H Davids],"[South Africa, New Zealand]",bat,South Africa,"[JD Cloete, AT Holdstock]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5001,"[{'1st innings': {'team': 'South Africa', 'del...",Johannesburg,[2020-02-09],ODI,England,[AU Rashid],"[South Africa, England]",field,England,"[S George, GO Brathwaite]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5003,"[{'1st innings': {'team': 'Panama', 'deliverie...",Morrisville,[2018-09-26],IT20,Canada,[C Pervez],"[Panama, Canada]",bat,Panama,"[SN Bandekar, H Grewal]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5004,"[{'1st innings': {'team': 'Mumbai Indians', 'd...",Kanpur,[2016-05-21],T20,Gujarat Lions,[SK Raina],"[Gujarat Lions, Mumbai Indians]",field,Gujarat Lions,"[AK Chaudhary, CK Nandan]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5005,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",NaN,[2014-12-13],ODI,Sri Lanka,[KC Sangakkara],"[Sri Lanka, England]",bat,Sri Lanka,"[REJ Martinesz, BNJ Oxenford]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7464,"[{'1st innings': {'team': 'South Africa', 'del...",Birmingham,[2017-06-07],ODI,Pakistan,[Hasan Ali],"[Pakistan, South Africa]",bat,South Africa,"[RK Illingworth, S Ravi]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7465,"[{'1st innings': {'team': 'England', 'deliveri...",Chennai,[2011-03-17],ODI,England,[JC Tredwell],"[England, West Indies]",bat,England,"[SJ Davis, BNJ Oxenford]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7466,"[{'1st innings': {'team': 'Italy', 'deliveries...",St Peter Port,[2019-06-16],T20,Italy,NaN,"[Guernsey, Italy]",field,Guernsey,"[AG Wharf, MV Waldron]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7467,"[{'1st innings': {'team': 'South Africa', 'del...",Port Elizabeth,"[2014-02-20, 2014-02-21, 2014-02-22, 2014-02-23]",Test,South Africa,[JP Duminy],"[South Africa, Australia]",bat,South Africa,"[HDPK Dharmasena, RK Illingworth]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7468,"[{'1st innings': {'team': 'South Africa', 'del...",Abu Dhabi,"[2013-10-14, 2013-10-15, 2013-10-16, 2013-10-17]",Test,Pakistan,[Khurram Manzoor],"[Pakistan, South Africa]",bat,South Africa,"[PR Reiffel, RJ Tucker]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
final_df['info.match_type'].value_counts()

info.match_type
T20     1127
ODI      583
Test     193
ODM      105
IT20      78
MDM        9
Name: count, dtype: int64

In [15]:
final_df['info.overs'].value_counts()

info.overs
20.0    1204
50.0     689
Name: count, dtype: int64

In [16]:
final_df = final_df[final_df['info.overs'] == 20]
final_df.drop(columns=['info.overs','info.match_type'],inplace=True)

C:\Users\kamag\AppData\Local\Temp\ipykernel_6340\1862075967.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(columns=['info.overs','info.match_type'],inplace=True)

In [17]:
final_df

,innings,info.city,info.dates,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,...,info.supersubs.England,info.supersubs.Africa XI,info.supersubs.Asia XI,info.supersubs.Zimbabwe,info.supersubs.Sri Lanka,info.supersubs.Bangladesh,info.supersubs.India,info.supersubs.ICC World XI,info.supersubs.Pakistan,info.supersubs.West Indies
5000,"[{'1st innings': {'team': 'South Africa', 'del...",Port Elizabeth,[2012-12-26],South Africa,[H Davids],"[South Africa, New Zealand]",bat,South Africa,"[JD Cloete, AT Holdstock]",St George's Park,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5003,"[{'1st innings': {'team': 'Panama', 'deliverie...",Morrisville,[2018-09-26],Canada,[C Pervez],"[Panama, Canada]",bat,Panama,"[SN Bandekar, H Grewal]",Church Street Park,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5004,"[{'1st innings': {'team': 'Mumbai Indians', 'd...",Kanpur,[2016-05-21],Gujarat Lions,[SK Raina],"[Gujarat Lions, Mumbai Indians]",field,Gujarat Lions,"[AK Chaudhary, CK Nandan]",Green Park,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5009,"[{'1st innings': {'team': 'Mumbai Indians', 'd...",Mumbai,[2010-04-13],Mumbai Indians,[KA Pollard],"[Mumbai Indians, Delhi Daredevils]",bat,Mumbai Indians,"[S Asnani, DJ Harper]",Brabourne Stadium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5010,"[{'1st innings': {'team': 'Romania', 'deliveri...",NaN,[2020-10-17],Romania,[R Satheesan],"[Romania, Bulgaria]",bat,Romania,"[Dharmendra Manani, Taranjeet Singh]",Moara Vlasiei Cricket Ground,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7459,"[{'1st innings': {'team': 'Northamptonshire', ...",Chesterfield,[2015-07-05],Northamptonshire,[WJ Durston],"[Northamptonshire, Derbyshire]",field,Derbyshire,"[MJ Saggers, PK Baldwin]",Queen's Park,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7461,"[{'1st innings': {'team': 'Delhi Daredevils', ...",Delhi,[2016-04-23],Delhi Daredevils,[SV Samson],"[Delhi Daredevils, Mumbai Indians]",field,Mumbai Indians,"[S Ravi, C Shamshuddin]",Feroz Shah Kotla,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7462,[{'1st innings': {'team': 'Sunrisers Hyderabad...,Hyderabad,[2019-03-31],Sunrisers Hyderabad,[JM Bairstow],"[Sunrisers Hyderabad, Royal Challengers Bangal...",field,Royal Challengers Bangalore,"[KN Ananthapadmanabhan, S Ravi]",Rajiv Gandhi International Stadium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7463,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",NaN,[2018-02-05],Afghanistan,[Mohammad Nabi],"[Zimbabwe, Afghanistan]",field,Afghanistan,"[Bismillah Shinwari, Ahmed Shah Durrani]",Sharjah Cricket Stadium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7466,"[{'1st innings': {'team': 'Italy', 'deliveries...",St Peter Port,[2019-06-16],Italy,NaN,"[Guernsey, Italy]",field,Guernsey,"[AG Wharf, MV Waldron]",College Field,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
import pickle
pickle.dump(final_df,open('check_point1.pkl','wb'))

In [19]:
matches = pickle.load(open('check_point1.pkl','rb'))
matches

,innings,info.city,info.dates,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,...,info.supersubs.England,info.supersubs.Africa XI,info.supersubs.Asia XI,info.supersubs.Zimbabwe,info.supersubs.Sri Lanka,info.supersubs.Bangladesh,info.supersubs.India,info.supersubs.ICC World XI,info.supersubs.Pakistan,info.supersubs.West Indies
5000,"[{'1st innings': {'team': 'South Africa', 'del...",Port Elizabeth,[2012-12-26],South Africa,[H Davids],"[South Africa, New Zealand]",bat,South Africa,"[JD Cloete, AT Holdstock]",St George's Park,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5003,"[{'1st innings': {'team': 'Panama', 'deliverie...",Morrisville,[2018-09-26],Canada,[C Pervez],"[Panama, Canada]",bat,Panama,"[SN Bandekar, H Grewal]",Church Street Park,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5004,"[{'1st innings': {'team': 'Mumbai Indians', 'd...",Kanpur,[2016-05-21],Gujarat Lions,[SK Raina],"[Gujarat Lions, Mumbai Indians]",field,Gujarat Lions,"[AK Chaudhary, CK Nandan]",Green Park,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5009,"[{'1st innings': {'team': 'Mumbai Indians', 'd...",Mumbai,[2010-04-13],Mumbai Indians,[KA Pollard],"[Mumbai Indians, Delhi Daredevils]",bat,Mumbai Indians,"[S Asnani, DJ Harper]",Brabourne Stadium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5010,"[{'1st innings': {'team': 'Romania', 'deliveri...",NaN,[2020-10-17],Romania,[R Satheesan],"[Romania, Bulgaria]",bat,Romania,"[Dharmendra Manani, Taranjeet Singh]",Moara Vlasiei Cricket Ground,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7459,"[{'1st innings': {'team': 'Northamptonshire', ...",Chesterfield,[2015-07-05],Northamptonshire,[WJ Durston],"[Northamptonshire, Derbyshire]",field,Derbyshire,"[MJ Saggers, PK Baldwin]",Queen's Park,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7461,"[{'1st innings': {'team': 'Delhi Daredevils', ...",Delhi,[2016-04-23],Delhi Daredevils,[SV Samson],"[Delhi Daredevils, Mumbai Indians]",field,Mumbai Indians,"[S Ravi, C Shamshuddin]",Feroz Shah Kotla,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7462,[{'1st innings': {'team': 'Sunrisers Hyderabad...,Hyderabad,[2019-03-31],Sunrisers Hyderabad,[JM Bairstow],"[Sunrisers Hyderabad, Royal Challengers Bangal...",field,Royal Challengers Bangalore,"[KN Ananthapadmanabhan, S Ravi]",Rajiv Gandhi International Stadium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7463,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",NaN,[2018-02-05],Afghanistan,[Mohammad Nabi],"[Zimbabwe, Afghanistan]",field,Afghanistan,"[Bismillah Shinwari, Ahmed Shah Durrani]",Sharjah Cricket Stadium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7466,"[{'1st innings': {'team': 'Italy', 'deliveries...",St Peter Port,[2019-06-16],Italy,NaN,"[Guernsey, Italy]",field,Guernsey,"[AG Wharf, MV Waldron]",College Field,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
count = 1
delivery_df = pd.DataFrame()
for index, row in matches.iterrows():
    if count in [75,108,150,180,268,360,443,458,584,748,982,1052,1111,1226,1345]:
        count+=1
        continue
    count+=1
    ball_of_match = []
    batsman = []
    bowler = []
    runs = []
    player_of_dismissed = []
    teams = []
    batting_team = []
    match_id = []
    city = []
    venue = []
    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            match_id.append(count)
            batting_team.append(row['innings'][0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_of_match.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            try:
                player_of_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_of_dismissed.append('0')
    loop_df = pd.DataFrame({
            'match_id':match_id,
            'teams':teams,
            'batting_team':batting_team,
            'ball':ball_of_match,
            'batsman':batsman,
            'bowler':bowler,
            'runs':runs,
            'player_dismissed':player_of_dismissed,
            'city':city,
            'venue':venue
        })
    delivery_df = pd.concat([delivery_df , loop_df])

In [21]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,2,"[South Africa, New Zealand]",South Africa,0.1,H Davids,MJ McClenaghan,1,0,Port Elizabeth,St George's Park
1,2,"[South Africa, New Zealand]",South Africa,0.2,F du Plessis,MJ McClenaghan,0,0,Port Elizabeth,St George's Park
2,2,"[South Africa, New Zealand]",South Africa,0.3,F du Plessis,MJ McClenaghan,0,0,Port Elizabeth,St George's Park
3,2,"[South Africa, New Zealand]",South Africa,0.4,F du Plessis,MJ McClenaghan,0,0,Port Elizabeth,St George's Park
4,2,"[South Africa, New Zealand]",South Africa,0.5,F du Plessis,MJ McClenaghan,1,0,Port Elizabeth,St George's Park
...,...,...,...,...,...,...,...,...,...,...
114,1205,"[Guernsey, Italy]",Italy,18.4,Baljit Singh,W Peatfield,0,Baljit Singh,St Peter Port,College Field
115,1205,"[Guernsey, Italy]",Italy,18.5,Charanjeet Singh,W Peatfield,4,0,St Peter Port,College Field
116,1205,"[Guernsey, Italy]",Italy,18.6,Charanjeet Singh,W Peatfield,0,0,St Peter Port,College Field
117,1205,"[Guernsey, Italy]",Italy,19.1,S Arachchige,DR Hooper,0,0,St Peter Port,College Field
118,1205,"[Guernsey, Italy]",Italy,19.2,S Arachchige,DR Hooper,0,S Arachchige,St Peter Port,College Field

In [22]:
def bowl(row):
    for team in row['teams']:
        if team != row['batting_team']:
            return team

In [23]:
delivery_df['bowling_team'] = delivery_df.apply(bowl,axis=1)

In [24]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,"[South Africa, New Zealand]",South Africa,0.1,H Davids,MJ McClenaghan,1,0,Port Elizabeth,St George's Park,New Zealand
1,2,"[South Africa, New Zealand]",South Africa,0.2,F du Plessis,MJ McClenaghan,0,0,Port Elizabeth,St George's Park,New Zealand
2,2,"[South Africa, New Zealand]",South Africa,0.3,F du Plessis,MJ McClenaghan,0,0,Port Elizabeth,St George's Park,New Zealand
3,2,"[South Africa, New Zealand]",South Africa,0.4,F du Plessis,MJ McClenaghan,0,0,Port Elizabeth,St George's Park,New Zealand
4,2,"[South Africa, New Zealand]",South Africa,0.5,F du Plessis,MJ McClenaghan,1,0,Port Elizabeth,St George's Park,New Zealand
...,...,...,...,...,...,...,...,...,...,...,...
114,1205,"[Guernsey, Italy]",Italy,18.4,Baljit Singh,W Peatfield,0,Baljit Singh,St Peter Port,College Field,Guernsey
115,1205,"[Guernsey, Italy]",Italy,18.5,Charanjeet Singh,W Peatfield,4,0,St Peter Port,College Field,Guernsey
116,1205,"[Guernsey, Italy]",Italy,18.6,Charanjeet Singh,W Peatfield,0,0,St Peter Port,College Field,Guernsey
117,1205,"[Guernsey, Italy]",Italy,19.1,S Arachchige,DR Hooper,0,0,St Peter Port,College Field,Guernsey
118,1205,"[Guernsey, Italy]",Italy,19.2,S Arachchige,DR Hooper,0,S Arachchige,St Peter Port,College Field,Guernsey

In [25]:
delivery_df.drop(columns=['teams'],inplace=True)

In [26]:
delivery_df['batting_team'].unique()

array(['South Africa', 'Panama', 'Mumbai Indians', 'Romania',
       'Royal Challengers Bangalore', 'Chennai Super Kings',
       'Leicestershire', 'Pakistan', 'Lahore Qalandars', 'Worcestershire',
       'Malaysia', 'Kolkata Knight Riders', 'Canada', 'Papua New Guinea',
       'Pune Warriors', 'Jersey', 'Islamabad United', 'Barbados Tridents',
       'Samoa', 'Kings XI Punjab', 'Rajasthan Royals', 'England',
       'Namibia', 'Glamorgan', 'Ireland', 'Kent', 'Zimbabwe', 'Myanmar',
       'Australia', 'Multan Sultans', 'St Kitts and Nevis Patriots',
       'Yorkshire', 'India', 'Durham', 'West Indies', 'Delhi Daredevils',
       'Deccan Chargers', 'Delhi Capitals', 'Lancashire',
       'Sunrisers Hyderabad', 'Kochi Tuskers Kerala', 'Germany',
       'Hong Kong', 'Peshawar Zalmi', 'New Zealand', 'St Lucia Stars',
       'Melbourne Stars', 'Brisbane Heat', 'Derbyshire', 'Somerset',
       'Middlesex', 'Surrey', 'Hampshire', 'Perth Scorchers',
       'Melbourne Renegades', 'Gibraltar', 'Fiji', 'Nottinghamshire',
       'Adelaide Strikers', 'Sydney Sixers', 'Nepal', 'Sri Lanka',
       'Essex', 'United Arab Emirates', 'Afghanistan',
       'Hobart Hurricanes', 'Trinbago Knight Riders', 'Sussex',
       'Sydney Thunder', 'Netherlands', 'Israel', 'Oman',
       'Quetta Gladiators', 'Maldives', 'Bangladesh', 'Karachi Kings',
       'Kenya', 'Kuwait', 'Nigeria', 'Rising Pune Supergiants',
       'St Lucia Zouks', 'Scotland', 'Italy', 'Guyana Amazon Warriors',
       'Japan', 'Gloucestershire', 'Gujarat Lions', 'Jamaica Tallawahs',
       'Rising Pune Supergiant', 'Northamptonshire', 'Guernsey',
       'Singapore', 'St Helena', 'Bermuda', 'Swaziland', 'Warwickshire',
       'Philippines', 'Mozambique', 'Cayman Islands', 'Denmark',
       'Trinidad & Tobago Red Steel', 'Rwanda', 'Sweden', 'Thailand',
       'Uganda', 'Gambia', 'Antigua Hawksbills', 'Bulgaria',
       'Birmingham Bears', 'Belgium', 'China', 'Norway',
       'United States of America', 'Ghana', 'Iran', 'Vanuatu',
       'Isle of Man', 'Spain', 'Belize', 'Saudi Arabia', 'Botswana'],
      dtype=object)

In [27]:
teams = [
    'Australia',
    'India',
    'Bangladesh',
    'New Zealand',
    'South Africa',
    'England',
    'West Indies',
    'Afghanistan',
    'Pakistan',
    'Sri Lanka'    
]

In [28]:
delivery_df = delivery_df[delivery_df['batting_team'].isin(teams)]
delivery_df = delivery_df[delivery_df['bowling_team'].isin(teams)]

In [29]:
delivery_df

,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,South Africa,0.1,H Davids,MJ McClenaghan,1,0,Port Elizabeth,St George's Park,New Zealand
1,2,South Africa,0.2,F du Plessis,MJ McClenaghan,0,0,Port Elizabeth,St George's Park,New Zealand
2,2,South Africa,0.3,F du Plessis,MJ McClenaghan,0,0,Port Elizabeth,St George's Park,New Zealand
3,2,South Africa,0.4,F du Plessis,MJ McClenaghan,0,0,Port Elizabeth,St George's Park,New Zealand
4,2,South Africa,0.5,F du Plessis,MJ McClenaghan,1,0,Port Elizabeth,St George's Park,New Zealand
...,...,...,...,...,...,...,...,...,...,...
105,1199,Pakistan,16.6,Mohammad Sami,R Ashwin,0,0,Mirpur,Shere Bangla National Stadium,India
106,1199,Pakistan,16.7,Mohammad Sami,R Ashwin,1,0,Mirpur,Shere Bangla National Stadium,India
107,1199,Pakistan,17.1,Mohammad Sami,HH Pandya,0,0,Mirpur,Shere Bangla National Stadium,India
108,1199,Pakistan,17.2,Mohammad Sami,HH Pandya,0,Mohammad Sami,Mirpur,Shere Bangla National Stadium,India
109,1199,Pakistan,17.3,Mohammad Amir,HH Pandya,0,Mohammad Amir,Mirpur,Shere Bangla National Stadium,India

In [30]:
output = delivery_df[['match_id','batting_team','bowling_team','ball','runs','player_dismissed','city','venue']]

In [31]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,South Africa,New Zealand,0.1,1,0,Port Elizabeth,St George's Park
1,2,South Africa,New Zealand,0.2,0,0,Port Elizabeth,St George's Park
2,2,South Africa,New Zealand,0.3,0,0,Port Elizabeth,St George's Park
3,2,South Africa,New Zealand,0.4,0,0,Port Elizabeth,St George's Park
4,2,South Africa,New Zealand,0.5,1,0,Port Elizabeth,St George's Park
...,...,...,...,...,...,...,...,...
105,1199,Pakistan,India,16.6,0,0,Mirpur,Shere Bangla National Stadium
106,1199,Pakistan,India,16.7,1,0,Mirpur,Shere Bangla National Stadium
107,1199,Pakistan,India,17.1,0,0,Mirpur,Shere Bangla National Stadium
108,1199,Pakistan,India,17.2,0,Mohammad Sami,Mirpur,Shere Bangla National Stadium
109,1199,Pakistan,India,17.3,0,Mohammad Amir,Mirpur,Shere Bangla National Stadium

In [32]:
pickle.dump(output,open('check_point2.pkl','wb'))

In [33]:
output[output['city'].isnull()]['venue'].value_counts()

venue
Pallekele International Cricket Stadium    745
Dubai International Cricket Stadium        739
Melbourne Cricket Ground                   233
Sharjah Cricket Stadium                    127
Sydney Cricket Ground                      126
Adelaide Oval                              124
Name: count, dtype: int64

In [34]:
x = np.where(output['city'].isnull(), output['venue'].str.split().apply(lambda x:x[0]), output['city'])

In [35]:
output['city'] = x

C:\Users\kamag\AppData\Local\Temp\ipykernel_6340\2208188131.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['city'] = x

In [36]:
output.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [37]:
output.drop(columns=['venue'],inplace=True)

C:\Users\kamag\AppData\Local\Temp\ipykernel_6340\2962604362.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output.drop(columns=['venue'],inplace=True)

In [38]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,South Africa,New Zealand,0.1,1,0,Port Elizabeth
1,2,South Africa,New Zealand,0.2,0,0,Port Elizabeth
2,2,South Africa,New Zealand,0.3,0,0,Port Elizabeth
3,2,South Africa,New Zealand,0.4,0,0,Port Elizabeth
4,2,South Africa,New Zealand,0.5,1,0,Port Elizabeth
...,...,...,...,...,...,...,...
105,1199,Pakistan,India,16.6,0,0,Mirpur
106,1199,Pakistan,India,16.7,1,0,Mirpur
107,1199,Pakistan,India,17.1,0,0,Mirpur
108,1199,Pakistan,India,17.2,0,Mohammad Sami,Mirpur
109,1199,Pakistan,India,17.3,0,Mohammad Amir,Mirpur

In [39]:
total_df = output.groupby('match_id').sum()['runs'].reset_index()
output = output.merge(total_df,on='match_id')

In [40]:
output

,match_id,batting_team,bowling_team,ball,runs_x,player_dismissed,city,runs_y
0,2,South Africa,New Zealand,0.1,1,0,Port Elizabeth,179
1,2,South Africa,New Zealand,0.2,0,0,Port Elizabeth,179
2,2,South Africa,New Zealand,0.3,0,0,Port Elizabeth,179
3,2,South Africa,New Zealand,0.4,0,0,Port Elizabeth,179
4,2,South Africa,New Zealand,0.5,1,0,Port Elizabeth,179
...,...,...,...,...,...,...,...,...
20700,1199,Pakistan,India,16.6,0,0,Mirpur,83
20701,1199,Pakistan,India,16.7,1,0,Mirpur,83
20702,1199,Pakistan,India,17.1,0,0,Mirpur,83
20703,1199,Pakistan,India,17.2,0,Mohammad Sami,Mirpur,83
20704,1199,Pakistan,India,17.3,0,Mohammad Amir,Mirpur,83

In [41]:

# output1 = output.groupby('match_id')
output['current_score'] = output.groupby('match_id')['runs_x'].cumsum()
# ['runs_x']

In [42]:
output['over'] = output['ball'].apply(lambda x:str(x).split(".")[0])
output['ball_no'] = output['ball'].apply(lambda x:str(x).split(".")[1])

In [43]:
output['balls_bowled'] = (output['over'].astype('int')*6) + output['ball_no'].astype('int')

In [ ]:
output['crr'] = round((output['current_score']*6)/output['balls_bowled'],2)

In [ ]:
output['player_dismissed'] = output['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
output['player_dismissed'] = output['player_dismissed'].astype('int')
output['player_dismissed'] = output.groupby('match_id')['player_dismissed'].cumsum()
output['wickets_left'] = 10 - output['player_dismissed']

In [ ]:
final_df = output[['match_id','batting_team','bowling_team','runs_x','current_score','balls_bowled','wickets_left','crr','city','runs_y']]

In [ ]:
final_df

In [ ]:
final_df = final_df.sample(final_df.shape[0])

In [ ]:
final_df['balls_left'] = 120 - final_df['balls_bowled']
final_df['balls_left'] = final_df['balls_left'].apply(lambda x:0 if x<0 else x)

In [ ]:
final_df['crr'] = round((final_df['current_score']*6)/final_df['balls_bowled'],2)

In [ ]:
final_df

In [ ]:
final_df.drop(columns=['balls_bowled'],inplace=True)

In [ ]:
groups = final_df.groupby('match_id')

In [ ]:
match_ids = final_df['match_id'].unique()
last_five = []
for id in match_ids:
    last_five.extend(groups.get_group(id).rolling(window=30)['runs_x'].sum().values.tolist())

In [ ]:
final_df['last_five'] = last_five

In [ ]:
final_df

In [ ]:
final_df.dropna(inplace=True)

In [ ]:
final_df

In [ ]:
eligible_cities = final_df['city'].value_counts()[final_df['city'].value_counts() > 600].index.tolist()
final_df = final_df[final_df['city'].isin(eligible_cities)]

In [ ]:
X = final_df.drop(columns=['match_id','runs_x','runs_y'])
y = final_df['runs_y']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [ ]:
X_test

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [ ]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [ ]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))